In [41]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                               '12. Air France', '"Swiss Air"']})

In [ ]:
df

In [42]:
fl = np.arange(10045,10095,10)

In [ ]:
fl

In [43]:
df.iloc[:,1]

0    10045.0
1        NaN
2    10065.0
3        NaN
4    10085.0
Name: FlightNumber, dtype: float64

In [44]:
df['FlightNumber'] = fl

In [45]:
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

In [46]:
#df2 = df.join(df['From_To'].str.split('_', 1, expand=True).rename(columns={0:'From', 1:'To'}))
df_temp = pd.DataFrame()
#df_temp = df_temp.join(df['From_To'].str.split('_', 1, expand=True).rename(columns={0:'From', 1:'To'}))
df_temp = df['From_To'].str.split('_', 1, expand=True).rename(columns={0:'From', 1:'To'})
df_temp['From'] = df_temp['From'][0][0].upper() + df_temp['From'][0][1:].lower()
df_temp['To'] = df_temp['To'][0][0].upper() + df2['To'][0][1:].lower()
df_temp

In [111]:
df.drop(df.columns.values[0], axis =1, inplace = True)
df['From'] = df_temp['From']
df['To'] = df_temp['To']

In [112]:
df2['From'] = df2['From'][0][0].upper() + df2['From'][0][1:].lower()
df2['To'] = df2['To'][0][0].upper() + df2['To'][0][1:].lower()
df2

   FlightNumber     RecentDelays              Airline    From     To
0         10045    [23, 47, NaN]               KLM(!)  London  Paris
1         10055  [NaN, NaN, NaN]    <Air France> (12)  London  Paris
2         10065     [24, 43, 87]  (British Airways. )  London  Paris
3         10075   [13, NaN, NaN]       12. Air France  London  Paris
4         10085    [67, 32, NaN]          "Swiss Air"  London  Paris

In [49]:
d = df2['RecentDelays']
for x in d:
    if(len(x)<1):
        x.append('NaN')
        x.append('NaN')
        x.append('NaN')
    elif(len(x)<2):
        x.append('NaN')
        x.append('NaN')
    elif(len(x)<3):
        x.append('NaN')
    print(x)

[23, 47, 'NaN']
['NaN', 'NaN', 'NaN']
[24, 43, 87]
[13, 'NaN', 'NaN']
[67, 32, 'NaN']

In [68]:
dat = []
dat.append(d[0])
dat.append(d[1])
dat.append(d[2])
dat.append(d[3])
dat.append(d[4])
data = np.array(dat)
data

array([['23', '47', 'NaN'],
       ['NaN', 'NaN', 'NaN'],
       ['24', '43', '87'],
       ['13', 'NaN', 'NaN'],
       ['67', '32', 'NaN']], dtype='<U11')

In [61]:
d1,d2,d3 = data.T

In [62]:
d1

array(['23', 'NaN', '24', '13', '67'], dtype='<U11')

In [63]:
d2
d3

array(['NaN', 'NaN', '87', 'NaN', 'NaN'], dtype='<U11')

In [69]:
delays = pd.DataFrame(d)
delays

      RecentDelays
0    [23, 47, NaN]
1  [NaN, NaN, NaN]
2     [24, 43, 87]
3   [13, NaN, NaN]
4    [67, 32, NaN]

In [81]:
d4 = []
d5 = []
d6 =[]
for j in delays.RecentDelays:
    d4.append(j[0])
    d5.append(j[1])
    d6.append(j[2])

In [82]:
d6

['NaN', 'NaN', 87, 'NaN', 'NaN']

In [116]:
delays['delay_1'] = d4
delays['delay_2'] = d5
delays['delay_3'] = d6
delays.drop(columns=['RecentDelays'])
#df.replace['RecentDelays'] = delays

  delay_1 delay_2 delay_3
0      23      47     NaN
1     NaN     NaN     NaN
2      24      43      87
3      13     NaN     NaN
4      67      32     NaN